.GameArea {
  /* 
  need to play around with min-width/height 
  don't want user shrinking or distorting
  */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: lightcoral;
  /* border: 2px solid green; */
}
/* methinks this shouldn't be % */
@media (orientation: portrait) {
    .GameArea {
      width: 99%;
      height: 90%;
    }
}

@media (orientation: landscape) {
    .GameArea {
      width: 47.5%;
      height: 99%;
    }
}
